.hero-image{
    background-image: url('../../../assets/home/banner/bannerBg.png');
    animation: floatBackground 10s infinite linear;
}

@keyframes floatBackground {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 60% 60%;
    }
    100% {
      background-position: 0% 0%;
    }
  }