.about-bg-rgb {
    /* background-color: #F4C485; */
    animation: colorchange 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes colorchange {
  0% {
    background: #FDE280;
  }
  14% {
    background: #ECAD89;
  }
  28% {
    background: #93BCD5;
  }
  42% {
    background: #75a9ae;
  }
  56% {
    background: #A6DBC9;
  }
  70% {
    background: #9EA6C9;
  }
  84% {
    background: #C599A8;
  }
  100% {
    background: #FDE280;
  }
}